@use "./../utils" as *;

.appMain {
  @include paddingX(20px);
  @include paddingY(16px);


  @include mobile {
    // grid-template-columns: 100%;
    // grid-template-rows: auto;
    // row-gap: 16px;
    @include gridbox(1, 100%, 16px);
  }

  @include desktop {
    @include containerMax;
    // grid-template-columns: repeat(12, 1fr);
    // grid-template-rows: auto;
    // row-gap: 16px;
    // column-gap: 20px;
    // @include gridbox($row-gap: 16px, $column-gap: 20px);
    @include gridbox(12, 1fr, 16px, 20px);
    grid-template-areas:
      "news news news news news news news news news news news news"
      "book book book book twitter twitter twitter twitter twitter favorite favorite favorite"
      "book book book book . board board board board board board board";
      .book {
        grid-area: book;
      }
    
      // 새소식
      .news {
        grid-area: news;
      }
    
      // 게시판
      .board {
        grid-area: board;
      }
    
      // 인기 사이트
      .favorite {
        grid-area: favorite;
      }
    
      // 트위터
      .twitter {
        grid-area: twitter;
      }
  }
}

  // 추천 서적
  .book {
    &__cover{
      width: 70%;
      @include autoMargin;
      text-align: center;

      // .svg 로 끝나는 백터이미지는 width: 100%; height: auto; 로 주어야 함
      // &Image {
      //   @include respons;
      // }

    }

    &__info{
      @include flexbox($wrap: wrap, $justify: center);
      column-gap: rem(8px);
    }

    @at-root .ratingStar{
      text-align: center;
      width: 100%;
      font-size: rem(36px);
    }
  }

  // 새소식
  .news {
    @at-root .iframeWrapper{
      @include ratio(16, 9);
    }
  }
  
  // 게시판
  .board {
    position: relative;

    &__item{
      margin: 8px 0;
      @include flexbox;
      column-gap: rem(8px);
    }

    &__link{
      flex-grow: 1;
      @include textOver;
    }

    &__date{
      white-space: nowrap;
    }

    &__more{
      @include posRightTop;
     }
   
  }

  // 인기 사이트
  .favorite {
    
  }

  // 트위터
  .twitter {
    &__userProfile {
      @include ratio(1, 1);
    }
  
    &__userProfileImage {
      @include respons(width, 100%);
      border-radius: 50%;
      @include fit(cover, 100%, 100%);
    }
  }
