@use "sass:math";

// 루트 요소 기본 단위 --------------------------------------------------------------- /
$rootUnit: 16px !default;
// $rootUnit: 16px;

// 단위 제거 함수 ------------------------------------------------------------------ /
@function removeUnit($value) {
  // @return ($value / ($value * 0 + 1));
  @return math.div($value, $value * 0 + 1);
  // 100px을 넣으면 100px * 0 + 1 을 연산할 시 1px이 나오고 100px / 1px 을 하면 단위가 사라지고 100만 남게됨
}

// px을 rem 단위로 변경하는 함수 ------------------------------------------------------- /
@function rem($value, $base: $rootUnit) {
  $removeValue: removeUnit($value);
  $removeBase: removeUnit($base);
  @return math.div($removeValue, $removeBase) * 1rem;
}

// px을 em 단위로 변경하는 함수 ------------------------------------------------------- /
@function em($value, $base: $rootUnit) {
  @return (removeUnit(math.div($value, $base))) * 1em;
}

// @debug 10px * 1;
// @debug 10px * 1px;
// @debug math.div(16px, 1);
// @debug math.div(16px, 1px);
